<!-- app/views/leaderboards/index.html.erb -->

<%= render 'leaderboards/leaderboards_breadcrumbs' %>

<div class="mx-auto max-w-2xl lg:max-w-4xl shadow-md p-8 bg-white rounded-md my-4">
  <h1 class="font-bold text-2xl mb-4 w-full text-center">Leaderboards</h1>

  <!-- Advanced filters form -->
  <div class="w-full mb-4 px-4">
    <!-- Update the form tag to include an id 'filter_form' -->
    <%= form_with url: leaderboards_path, method: :get, id: "filter_form", local: true, class: "flex flex-col space-y-4 justify-center" do |form| %>
      <div class="flex flex-col items-start space-y-1">
        <%= form.label :track_type, class: 'text-sm font-medium' %>
        <%= form.select :track_type, options_for_select(['Supercross', 'Motocross'], params[:track_type]), { include_blank: 'Select Type' }, { id: 'track_type_select', class: 'border-gray-300 rounded-md p-2' } %>      </div>
      </div>

      <!-- Track Name -->
      <div class="flex flex-col items-start space-y-1">
        <%= form.label :track_id, class: 'text-sm font-medium' %>
        <% if params[:track_type].present? %>
          <%= form.collection_select :track_id, Track.where(track_type: params[:track_type]), :id, :track_name, { include_blank: 'Select Track' }, { id: 'track_name_select', class: 'border-gray-300 rounded-md p-2' } %>
        <% end %>
      </div>

      <!-- Weather Condition -->
      <div class="flex flex-col items-start space-y-1">
        <%= form.label :weather_condition, class: 'text-sm font-medium' %>
        <% if params[:track_id].present? %>
          <%= form.select :weather_condition, options_for_select(['Clear', 'Rain', 'Wet'], params[:weather_condition]), { include_blank: 'Select Weather' }, class: 'border-gray-300 rounded-md p-2', onchange: "this.form.submit()" %>
        <% end %>
      </div>

      <!-- Time of Day -->
      <div class="flex flex-col items-start space-y-1">
        <%= form.label :time_of_day, class: 'text-sm font-medium' %>
        <% if params[:weather_condition].present? %>
          <%= form.select :time_of_day, options_for_select(['Morning', 'Noon', 'Evening', 'Night'], params[:time_of_day]), { include_blank: 'Select Time of Day' }, class: 'border-gray-300 rounded-md p-2', onchange: "this.form.submit()" %>
        <% end %>
      </div>

      <%= form.submit "Filter", class: "px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring" %>
    <% end %>
  </div>

  <!-- Remove the existing div with id 'leaderboards_div' -->
  <!-- Instead, use a new div with id 'content_placeholder' to mark where the content updates will occur -->
  <div id="content_placeholder">
    <%= render 'leaderboards/leaderboard' %>
  </div>

</div>

<script>
document.addEventListener('turbolinks:load', function() {
  // Assuming your track type select has an ID 'track_type_select'
  var trackTypeSelect = document.getElementById('track_type_select');
  if (trackTypeSelect) {
    trackTypeSelect.addEventListener('change', function() {
      // Find the form that this select box belongs to and submit it
      var form = document.getElementById('filter_form');
      if (form) {
        form.requestSubmit(); // Triggers form submission without needing to click the filter button
      }
    });
  }
});
document.addEventListener('turbolinks:load', function() {
  // Your event listeners will go here
  var form = document.getElementById('filter_form');
  if (form) {
    form.addEventListener('ajax:success', function(event) {
      // Handle successful AJAX response here
      var detail = event.detail;
      var data = detail[0], status = detail[1], xhr = detail[2];

      // Use Turbolinks to update the page body with the returned HTML
      Turbolinks.clearCache();
      Turbolinks.visit(xhr.responseURL, { action: 'replace' });
    });
  }
});
</script>
