<!-- app/views/leaderboards/new.html.erb -->

<%= form_with(model: [@track, @leaderboard], local: true) do |form| %>
  <div>
    <%= form.label :weather_condition %>
    <%= form.text_field :weather_condition %>
  </div>

  <div>
    <%= form.label :time_of_day %>
    <%= form.text_field :time_of_day %>
  </div>

  <div>
    <%= form.label :lap_time %>
    <%= form.number_field :lap_time, step: :any %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
