<!-- app/views/tracks/index.html.erb -->

<div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-4 mb-4 mx-2">
    <%= link_to 'Add a Track', new_track_path, class: 'text-blue-500 underline' %>
  </div>
  
  <div class="flex flex-wrap justify-center">
    <h1 class="font-bold text-2xl mb-4 w-full text-center">Tracks</h1>
  
    <% @tracks.each do |track| %>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-4 shadow border border-gray-200 bg-gray-100 mb-4 mx-2">
        <div class="font-bold mb-2 text-xl">🗺️ <%= track.track_name %></div>
        <div><strong>Type:</strong> <%= track.track_type %></div>
        <div><strong>Description:</strong> <%= track.track_description %></div>
        <div><strong>Time of Day:</strong> <%= track.track_time_of_day %></div>
        <div><strong>Pack:</strong> <%= track.track_pack %></div>
        <div class="italic"><strong>Image:</strong> <%= track.track_image_uri %></div>
        <div class="italic"><strong>Map:</strong> <%= track.track_map_uri %></div>
        <div class="italic"><strong>Video Preview:</strong> <%= track.track_video_preview_uri %></div>
        <div><strong>Weather:</strong> <%= track.track_weather %></div>
      
        <div class="flex justify-between mt-4">
          <div class="w-1/3">
            <%= link_to 'View Details', track_path(track), class: 'text-blue-500 underline w-full' %>
          </div>
      
          <div class="w-1/3 text-center">
            <%= link_to 'Edit', edit_track_path(track), class: 'text-blue-500 underline w-full' %>
          </div>
      
          <div class="w-1/3 text-right">
            <%= link_to 'Delete', track_path(track), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
            },
            class: 'text-red-500 underline w-full' %>
          </div>
        </div>
      </div>
      
    <% end %>
  </div>
  