<!-- app/views/tracks/new.html.erb -->

<div class="flex items-center justify-center pt-8">
  <div class="p-8 bg-white shadow-lg rounded-md w-full sm:w-1/2 outline outline-1 outline-gray-300">
    <h1 class="text-2xl font-bold underline text-gray-700 text-center pb-4">Add Track</h1>

      <%= form_with model: @track, url: tracks_path, class: '2-2xl' do |form| %>

        <div class="mb-4">
          <%= form.label :track_name %>
          <%= form.text_field :track_name, class: 'w-full border p-2 rounded' %>
        </div>

        <div class="mb-4">
          <%= form.label :track_type, class: 'block text-gray-700 text-sm font-bold mb-2'  %>

          <% Track.track_type_options.each do |option| %>
            <label class="inline-flex items-center">
              <%= form.check_box :track_type, {multiple: false }, option, nil %>
              <span class="mr-3 ml-2"><%= option.capitalize %></span>
            </label>
          <% end %>
        </div>

        <div class="mb-4">
            <%= form.label :track_description %>
            <%= form.text_field :track_description, class: 'w-full border p-2 rounded' %>
        </div>

        <div class="mb-4">
            <%= form.label :track_pack %>
            <%= form.text_field :track_pack, class: 'w-full border p-2 rounded' %>
        </div>

        <div class="mb-4">
            <%= form.label :track_image_uri %>
            <%= form.text_field :track_image_uri, class: 'w-full border p-2 rounded' %>
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Track Conditions
          </label>
          <% Track.track_conditions_options.each do |option| %>
            <label class="inline-flex items-center">
              <%= check_box_tag 'track[track_conditions][]', option, @track.track_conditions&.include?(option), id: "track_conditions_#{option.parameterize}", class: "form-checkbox text-blue-600 mr-2" %>
              <span class="mr-3 ml-2"><%= option.capitalize %></span>
            </label>
          <% end %>
        </div>

        <div class="text-center">
          <%= form.submit 'Add Track', class: 'bg-blue-500 text-white py-2 px-4 rounded' %>
        </div>
      <% end %>
  </div>
</div>
  