<!-- app/views/registrations/new.html.erb -->

<div class="flex items-center justify-center pt-8">
    <div class="p-8 bg-white shadow-lg rounded-md w-full sm:w-1/2 outline outline-1 outline-gray-300">
        <h1 class="text-2xl font-bold underline text-gray-700 text-center pb-4">Create a new account</h1>

        <%= form_with model: @user, url: registration_path, class: '2-2xl' do |form| %>
            <% if form.object.errors.any? %>
                <% form.object.errors.full_messages.each do |message| %>
                    <div><%= message %></div>
                <% end %>
            <% end %>

            <div class="mb-4 w-full">
                <%= form.label :email, class: 'block text-gray-700 text-sm font-bold mb-2'  %>
                <%= form.email_field :email, class: 'w-full border p-2 rounded' %>
            </div>

            <div class="mb-4 w-full">
                <%= form.label :gamer_tag, class: 'block text-gray-700 text-sm font-bold mb-2'  %>
                <%= form.text_field :gamer_tag, class: 'w-full border p-2 rounded' %>
            </div>

            <div class="mb-4 w-full">
              <%= form.label :roles, class: 'block text-gray-700 text-sm font-bold mb-2' %>

              <%= form.check_box :roles, { multiple: true }, 'member', nil %>
              <%= form.label :roles, 'Member' %>

              <%= form.check_box :roles, { multiple: true }, 'owner', nil %>
              <%= form.label :roles, 'Owner' %>

              <%= form.check_box :roles, { multiple: true }, 'manager', nil %>
              <%= form.label :roles, 'Manager' %>

              <%= form.check_box :roles, { multiple: true }, 'admin', nil %>
              <%= form.label :roles, 'Admin' %>
            </div>

            <div class="mb-4 w-full">
                <%= form.label :password, class: 'block text-gray-700 text-sm font-bold mb-2' %>
                <%= form.password_field :password, class: 'w-full border p-2 rounded' %>
            </div>

            <div class="mb-4 w-full">
                <%= form.label :password_confirmation, class: 'block text-gray-700 text-sm font-bold mb-2' %>
                <%= form.password_field :password_confirmation, class: 'w-full border p-2 rounded' %>
            </div>

            <div>
                <%= form.submit "Sign Up", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
            </div>
        <% end %>

      <div class="pt-8">
        <p class="text-gray-700 text-sm mt-4">
          Already have an account?
        </p>

        <%= link_to "Sign In", new_session_path, class: "text-blue-700 hover:text-blue-800 font-medium" %>
      </div>
    </div>
</div>
