<!DOCTYPE html>
<html>
  <head>
    <title>Crm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag 'rails-ujs' %>
    <%= yield :extra_js %>
  </head>

  <body>
    <div id="notice" class="bg-green-500 text-white px-4 py-2 fixed w-full top-0 left-0 z-50 hidden">
      <%= notice %>
    </div>
    <div id="alert" class="bg-red-500 text-white px-4 py-2 fixed w-full top-0 left-0 z-50 hidden">
      <%= alert %>
    </div>
    
    <div>
      <%= link_to root_path do %>     
        <%= image_tag 'team_crm_banner.png', class: 'w-full p-0 mb-[-1px] border-0 block' %> 
      <% end %> 
      <%= render 'shared/navbar' %> 
    </div>

    <%= yield %>

    <script>
      document.addEventListener('turbo:load', function() {
        var notice = document.getElementById('notice');
        if (notice.textContent.trim() !== "") {
          notice.classList.remove('hidden');

          setTimeout(function() {
            notice.classList.add('hidden');
          }, 5000);
        } else {
          notice.classList.add('hidden');
        }

        var alert = document.getElementById('alert');
        if (alert.textContent.trim() !== "") {
          alert.classList.remove('hidden');

          setTimeout(function() {
            alert.classList.add('hidden');
          }, 5000);
        } else {
          alert.classList.add('hidden');
        }
      });
    </script>
  </body>
</html>
